- extends "layout.haml"

- block content
  .main.bg-light-gray
    .container
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-default
            .panel-body
              %h2 Check your inbox!
              %p We've set you an email to reset your password.
