- extends "layout.haml"

- block content
  .main.bg-light-gray
    .container
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-default
            .panel-body
              %h2 Your password has been reset
              %p.lead You can now log in. Woohoo!
