Django==1.10.5
Pillow==4.0.0
django-allauth==0.30.0
django-compressor==2.1
django-localflavor==1.4.1
-e git://github.com/cyso/HamlPy.git@26ceefd44f7e49f244e25bf7613e07a2e92c835c#egg=hamlpy
django-crispy-forms==1.6.1
django-import-export==0.5.1
djrill==1.1.1
django-filter==0.13
Markdown==2.6.7
bleach==1.5.0
