- extends "layout.haml"

- load crispy_forms_tags

- block content
  .container
    
    %h1.page-title Directory 
      %a.pull-right.btn.btn-sm.btn-primary{href: "#search", role: "button", data-toggle: "collapse"} Search for someone
    .row
      .col-xs-12
        - if request.GET.first_name
          #search
            - crispy form
        - else   
          #search.collapse
            - crispy form   

    .row
      - for user in object_list
        .col-md-3
          .thumbnail.user-card
            .profile-image-wrapper
              - if user.profile.profile_image
                %img.img-responsive{src: "={user.profile.profile_image.url}"}
              - else
                %div.profile-image-placeholder
            .caption
              %a{href: "{% url 'user-detail' user.username %}"}
                %h4
                  =user.get_full_name
              %p
                - if object.profile.get_location
                  %i.fa.fa-fw.fa-map-marker
                  =user.profile.get_location
              - if user.education_set.all
                %p
                  %i.fa.fa-fw.fa-university
                  =user.education_set.all.0
    .row
      .col-xs-12
        %nav.text-center
          %ul.pagination
            - if object_list.has_previous
              %li
                %a{href: "={request.path}?page=={object_list.previous_page_number}&={qs}"}
                  %span &laquo;
            - for i in object_list.paginator.page_range
              - if i == object_list.number
                %li.active
                  %a{href: "={request.path}?page=={i}&={qs}"}
                    =i
              - else
                %li
                  %a{href: "={request.path}?page=={i}&={qs}"}
                    =i
            - if object_list.has_next
              %li
                %a{href: "={request.path}?page=={object_list.next_page_number}&={qs}"}
                  %span &raquo;
            